<%-include("./partials/head.ejs") %>
<body >
    <%- include("./partials/nav.ejs") %>
    <div style="background-size: cover;" id="adding">
      <h1 class="d-flex justify-content-center text-light " style="background-color: rgba(0, 0, 0, 0.6);"> New Quote!</h1>
      <form method="POST" action="/addnew" class="m-5  ">
          <div class="form-group">
            <label class=" text-light bg-dark p-2 rounded">Author</label>
            <input class="form-control" name="a">
          </div>
          <div class="form-group">
              <label class=" text-light bg-dark p-2 rounded">Quote</label>
              <textarea class="form-control" rows="3" name="q"></textarea>
            </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-dark" type="submit" >Add New Quote</button>
          </div>
      </form>
    </div>
    <%- include("./partials/footer.ejs") %>