<%-include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>test</h1>
    <p>Welcome to Quote Central</p>
    <a href="">SEI Student Fun Facts</a>
    <ul>
	    <li>
	    <% if (user) { %>
		  <a href="/logout">Log Out</a>
	    <% } else { %>
		  <a href="/auth/google">Login with Google</a>
	    <% } %>
	    </li>
    </ul>
  </body>
</html>
