
    <footer class="bg-light text-center text-lg-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">About Us</h5>

            <p>
              We are an organization of 1 strong looking to bring happiness, or pain? Anyways,
              it's all about the quotes whatever happens to inspire you, get you going,
                bring you down! Thats what we are about!!!
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Our Resources</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="https://zenquotes.io/#docs" class="text-dark">Quote api</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/raymond-casgrain-4a17b910b/" class="text-dark">The Creator</a>
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=1ZYbU82GVz4" class="text-dark">Relax</a>
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text-dark">Culture</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>